<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INSURANCE_SYSTEM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="INSURANCE_SYSTEM.My.MySettings.INSURANCE_MANAGEMENT_SYSTEMConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\INSURANCE MANAGEMENT SYSTEM.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="INSURANCE_SYSTEM.My.MySettings.Core_DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Core Database.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="INSURANCE_SYSTEM.My.MySettings.InsuranceDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\InsuranceDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <INSURANCE_SYSTEM.My.MySettings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
        </INSURANCE_SYSTEM.My.MySettings>
    </userSettings>
</configuration>